@media (min-width: 1280px) {
/*   .seccion1 {
    background: url(../img/logo/DESIGN_THINKING_BANNER_2732x1440.webp) !important;
    width: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  } */
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
  /*texto cambiante*/
  .fondo_camb {
    width: 225px !important;
    margin-bottom: -12px !important;
  }
  .word_ {
    margin-left: -90px !important;
  }
  .cer_estadisticas div img {
    width: 45px !important;
  }
}
@media (min-width: 1200px) {
  .word_ {
    margin-left: -100px !important;
  }
}
/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  .sec1_contenedor {
    display: block;
  }
  .sec1_contenedor > .text {
    display: block;
  }
  // detalles despues del formulario
  .detalles {
    position: static;
    display: block;
    padding: 0px 40px;
  }
  .detalles .d_uno {
    justify-content: start;
    padding: 10px 10px;
  }
  .d_uno:not(:last-child) {
    border-right: none;
  }
  .d_uno:nth-child(-n + 3) {
    border-bottom: 2px solid white;
  }
  //certificados despues de diseña experiencias
  .certificados {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  //plan de estudios
  .p_uno {
    display: block;
  }
  .c_uno:not(:last-child) {
    border-right: none;
  }
  section.opiniones .container .carousel {
    height: 270px;
  }
  /*texto cambiante*/
  .fondo_camb {
    width: 185px !important;
    margin-bottom: -12px !important;
  }
  .cer_estadisticas div img {
    width: 40px !important;
  }
}
@media (min-width: 992px) {
  .d_uno {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  /* Estilos que se aplican cuando la ventana es de 768px de ancho o menos */
  /*   .seccion1 {
    background: url(../img/logo/CAEM_BANNER_base1.webp) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  } */
  .viaje .v_uno {
    display: block;
  }
  .v_icon {
    margin-top: 10px;
  }
  .v_icon:nth-child(-n + 2) {
    border-right: none;
    border-bottom: 4px solid white;
  }
  //opiniones de los egresados
  .o_opinion {
    display: block;
  }

  section.opiniones .container .carousel {
    height: 385px;
  }
  .o_img {
    display: flex;
    justify-content: center;
  }
  .o_texto p {
    margin-top: 10px;
  }
  //certificado
  .certificacion .container-xl {
    padding: 5px;
    display: block;
  }
  .ce_certificado {
    text-align: center;
  }

  .texto1 {
    display: block;
  }
  .texto2 {
    display: none;
  }
  .enlace_invitar3 {
    display: none;
  }
  //alertas
  .alert {
    padding: 10px 2px 10px 2px;
  }
  .enlace_invitar_inicio {
    padding: 10px;
    margin-right: 10px;
    font-size: 0.8rem;
  }
  .alerta div {
    width: 50%;
  }
  div.container > .row > .col-xs-12.col-md-6 {
    justify-content: start;
  }
  /*tu viaje de aprendisaje*/
  .v_img > img {
    width: 30%;
    height: 30%;
  }
  /*opiniones*/
  .o_img img {
    width: 140px;
    height: 140px;
  }
  /*margen arriba */
  /*   .form-mobile {
    margin-top: -670px;
  } */
  .cer_estadisticas div img {
    width: 37px !important;
  }
  .cer_estadisticas > div > div {
    font-size: 1.8rem !important;
  }
}
/* Estilos que se aplican cuando la ventana es de 768px de ancho o menos */
@media (max-width: 576px) {
  .seccion1 {
    background: none !important;
  }
  /*   .sec1_contenedor > .text {
    background: url(../img/logo/CAEM_BANNER_base2.webp) !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  } */

  .sec1_contenedor > .text > .texto {
    background: black;
    font-weight: 500;
  }
  .navbar > .container {
    justify-content: center;
  }
  .form-mobile > .form > .card-body {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    max-width: 80%;
  }
  .contenedor_banner {
    background: url(../img/logo/DESIGN_THINKING02_BANNER_883x465.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
  }
  section.opiniones .container .carousel {
    height: 420px;
  }
  .sec1_contenedor .form {
    display: none;
  }
  .form-mobile {
    display: block;
    padding: 15px 0;
  }
  .texto_movil {
    display: block;
  }
  .texto_escritorio {
    line-height: 40px;
    margin-bottom: 0 !important;
  }
  .c_uno {
    padding: 5px;
  }
  .c_uno > div > svg {
    width: 80px;
    height: 80px;
  }
  .c_uno > .c_text {
    padding: 2px;
  }
  /*certificaciones*/
  .ce_certificado {
    img {
      width: 70%;
      height: 70%;
    }
  }
  /*opiniones*/
  .o_img img {
    width: 120px;
    height: 120px;
  }
  /*texto cambiante*/
  .fondo_camb {
    width: 175px !important;
    height: 40px !important;
  }
  .word_ {
    margin-left: -75px !important;
  }
  /*imagen certmod*/
  .cer_titulo img {
    width: 65% !important;
  }
  .cer_estadisticas > div > div {
    font-size: 1.7rem !important;
  }
  .cer_certmind_img img {
    width: 55% !important;
  }
  /*texto laber area de trabajo*/
  .form-control:not(:placeholder-shown) + .label_n_par {
    letter-spacing: 0.8px;
  }
  .form-control:not(:placeholder-shown) + label.mobile {
    letter-spacing: 1px;
  }
  .ocultar_grupo {
    display: none;
  }
}
@media (max-width: 410px) {
  section.opiniones .container .carousel {
    height: 470px !important;
  }
  #formemail input {
    width: 100% !important;
  }
}
@media (max-width: 380px) {
  .navbar > .container {
    justify-content: center;
  }
  .contenedor_banner {
    height: 200px !important;
  }
  .form-mobile > .form > .card-body {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    max-width: 95%;
  }
  .form-control:not(:placeholder-shown) + label.mobile {
    letter-spacing: 0.7px;
  }
  section.opiniones .container .carousel {
    height: 550px;
  }
  section.pprofesor .container .carousel {
    height: 502px;
  }
  /*certificaciones*/
  .ce_certificado {
    img {
      width: 90%;
      height: 90%;
    }
  }
  .cer_titulo img {
    width: 80%;
  }
  /*docentes img*/
  .p_imagen {
    left: 25%;
  }
  .cer_certmind_img img {
    width: 70% !important;
  }
}
@media (max-width: 508px) {
  .span_l {
    display: block;
    visibility: collapse;
    font-size: 0;
  }
  li.li_maps {
    margin-top: 4px;
  }
  .ruta_sucre {
    line-height: 3px;
  }
  p.text-wrap.m-0{
    font-size: 1em;
  }
}

@media only screen and (max-width: 380px) and (min-width: 300px) {
  /*docentes img*/
  .p_imagen {
    left: 31%;
  }
}
@media (max-width: 300px) {
  section.opiniones .container .carousel {
    height: 618px;
  }
  section.pprofesor .container .carousel {
    height: 560px;
  }
  .form-control:not(:placeholder-shown) + label.mobile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 280px) {
  section.opiniones .container .carousel {
    height: inherit;
  }
  section.pprofesor .container .carousel {
    height: inherit;
  }
}
