@import "./colores.sass";

.certificados {
  display: flex;
}
.certificados > * {
  flex: 1;
}
.c_uno {
  padding: 0 10px 0 10px;
}
.c_uno:not(:last-child) {
  border-right: 2px solid transparent; /* Borde derecho transparente */
  border-image: linear-gradient(
    to top,
    $gris,
    transparent
  ); /* Gradiente vertical */
  border-image-slice: 1;
  /* border-right: 2px solid $gris; */
}
.c_icon {
  text-align: center;
}
.c_icon svg {
  width: 110px;
  height: 110px;
}
.c_text {
  font-weight: 500;
  padding: 10px;
  text-align: center;
}
