$orange: #FF9300
$background: #ffffff
$color2: #f3f3f3
$verde: rgb(38, 204, 38)

$detalles: #2737c7
$detalles_cajas: #2737c7
$azul: #001f5b
$a_celeste: #62C728
$a_cuadro_r: #2737c7
$gris: #333333
$p: #62c728

$invitados_a: #5ccf1a31
$invitados_f: #62c728
