$orange: #FF9300
$orange1: #fcda52
$orange: $orange1
$background: #ffffff
$color2: #f3f3f3
$verde: rgb(38, 204, 38)
$colorcertamend: #1dd0e6
$colorazul1: #00b2c8
$detalles: $colorazul1
$azul: #001f5b


$gris: #333333
