@import "./colores.sass";

.detalles {
  position: sticky;
  top: 0;
  padding: 15px 0;
  background: $detalles;
  display: flex;
  flex-direction: row;
  z-index: 999;
}
.detalles > .d_uno {
  flex: 1;
}
.d_inicio {
  flex: 1 !important;
}
.d_duracion {
  flex: 1 !important;
}
.d_costo {
  flex: 1 !important;
}
.d_equipo {
  flex: 1 !important;
}
/* .d_ocultar {
  flex: 0.8 !important;
} */
.d_uno {
  display: flex;
/*   justify-content: center; */
  align-items: center;
}
.d_icon {
  display: flex;
  height: 100%;
  align-items: center;
  color: white;
  justify-content: center;
}
.d_icon svg {
  width: 50px;
  height: 50px;
}
.d_text {
  padding: 0 15px;
  color: white;
}
.d_text p {
  margin-bottom: 0;
  line-height: 18px;
}
.d_uno:not(:last-child) {
  border-right: 2px solid white;
}
//detalles 2
.detalles2 {
  background: $color2;
  padding: 25px;
}
.detalles2 p {
  padding: 0 25px;
  font-size: 110%;
}
