@import "./colores.sass";
.alert {
  margin: 0;
  background: $orange;
  border-radius: 0px;
  border: none;
}
.navbar {
  --bs-navbar-padding-y: 0;
}
.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
}
.alert-dismissible .btn-close {
  top: 10px;
  right: 30px;
  color: white;
}
.alerta {
  justify-content: space-between;
  align-items: center;
}
.ocultar {
  border: none;
  background: transparent;
  color: white;
}
.enlace_invitar {
  padding: 10px 40px;
  text-decoration: none;
  font-weight: bold;
  color: $orange;
  background: white;
  margin-right: 20px;
}
.enlace_invitar:hover {
  outline: 2px solid white;
  background: transparent;
  color: white;
}
.form-mobile > .form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-mobile {
  display: none;
}
.navbar > .container {
  justify-content: center;
}
h3 {
  font-size: 1.5rem;
}
h2 {
}
