@import "./colores.sass";

.p_uno {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-auto-flow: dense;
}
/* .p_fases p:not(:first-child) {
  color: blue;
} */
//-n significa que la selección comienza desde el primer elemento (n=1) y se extiende a través de todos los elementos en el conjunto. La parte negativa (-n) selecciona todos los elementos,
//desde el primer elemento hasta el último.
.p_fases:nth-child(-n + 3) {
  grid-column: 1;
}
.p_fases {
  grid-column: 2;
}
.enlace_invitar2 {
  padding: 6px 15px;
  text-decoration: none;
  font-weight: bold;
  color: $a_cuadro_r;
  background: white;
  outline: 2px solid $a_cuadro_r;
}
.inv {
  padding: 8px 20px;
}
.enlace_invitar2:hover {
  background: $a_cuadro_r;
  color: white;
}
//plan de actividades
.viaje {
  background: $color2;
  padding: 15px 0;
}
.v_uno {
  display: flex;
  align-items: center;
  justify-content: center;
}
.v_uno > .v_icon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.v_uno .v_icon div .v_img {
  display: flex;
  justify-content: center;
  font-size: 35px;
}
.v_img > img {
  width: 50%;
  height: 50%;
}
.v_uno .v_icon {
  flex: 1;
}
.v_icon:nth-child(-n + 2) {
  border-right: 4px solid white;
}
//profesor
.pprofesor {
  width: 100%;
  margin-bottom: 1.5rem;
}
section.pprofesor .container .carousel {
  height: 430px;
}
section.opiniones .container .carousel {
  height: 220px;
}
.profesor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 55px 0px 0px 0px;
}
.p_contenedor {
  max-width: 400px;
  position: relative;
  border: 3px solid #e3d7d7;
  text-align: center;
  padding: 10px;
}
.p_titulo {
  margin-top: 75px;
}
.p_imagen {
  position: absolute;
  top: -50px;
  left: 33%;
  border-radius: 100%;
}
.p_enlace {
  font-weight: 600;
  color: $a_cuadro_r;
}
.p_enlace:hover {
  text-decoration: none;
}
//Opinienos
.opiniones {
  width: 100%;
  background: $color2;
}
.o_opinion {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 10px 0;
  transition: 2s;
}
.o_img img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  border: 5px solid white;
  object-fit: cover;
}
.o_texto {
  padding: 0 20px;
}
//navegacion
.carousel-indicators.cambiar [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border-top: none !important;
  border-bottom: none !important;
}
//certificacion ultima parte
.certificacion .container-xl {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.texto1 {
  display: none;
}
.ce_certificado {
  padding: 10px;
}
.ce_texto {
  padding: 10px;
}
.ce_certificado img {
  object-fit: cover;
  object-position: center;
}
.carousel-indicators [data-bs-target] {
  background-color: $a_cuadro_r !important;
}
//footer
footer {
  background: $gris;
  padding: 20px auto;
}
footer > .container {
  color: white;
  display: flex;
  justify-content: center;
}

.footer_center {
  width: fit-content;
}
.span_l{
  
}
.ruta_sucre{
  
}
footer .container a:hover img {
  scale: 120%;
}
footer .container img {
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
footer .container ul {
  margin: 0;
  padding: 0;
}
footer .container ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
footer .container ul li a {
  text-decoration: none;
  color: white;
}
footer .container ul li img:hover {
  scale: 120%;
}
footer .container ul li a:hover img {
  scale: 120%;
}
.conocemas {
  color: white;
  font-weight: bold;
}
.googlemaps {
  display: flex;
}
.googlemaps img {
  margin-top: 10px;
  margin-right: 5px;
}
.google_rutas {
  display: inline-grid;
}
.google_rutas a {
  text-decoration: none;
  color: white;
}
