@import "./colores.sass";
.seccion1 {
  background: url(../img/agilidad/Agilidad_2732x1440.webp);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sec1_contenedor {
  width: 100%;
  height: 100%;
}
.sec1_contenedor .text {
  color: white;
  font-weight: bold;
}
//texto de invitacion 
p.text-wrap.m-0{
  font-size: 1.13em;
}
h2, h3{
  margin: 0;
}
//form
.sec1_contenedor > .text {
  background: rgba(0, 0, 0, 0.9);
}
.sec1_contenedor > .text > .texto {
  width: 100%;
  padding: 20px 30px;
}

.form {
  width: 95%;
  display: flex;
  justify-content: end;
}
//card-form
.card-body {
  max-width: 400px;
  min-width: 200px;
  padding: 30px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
}
.form-control {
  background: white;
  border: 1px solid rgb(110, 108, 108);
  padding-left: 10px;
}
.form-control:focus {
  box-shadow: 3px 3px 5px $a_celeste;
}
.form-control:focus + label {
  transition: 0.5s;
  transform: translateY(-15px);
  letter-spacing: 2px;
  font-size: 80%;
}
.form-control:not(:placeholder-shown) {
  border: 1px solid rgb(98, 98, 109);
}
.form-control:not(:placeholder-shown) + label {
  transform: translateY(-15px);
  letter-spacing: 2px;
  font-size: 80%;
  color: rgb(98, 98, 109);
}
.terminos {
  color: rgb(87, 83, 83);
}
.terminos p {
  font-size: small;
}
label.label_form {
  position: absolute;
  font-weight: 400;
  top: 5px;
  left: 5px;
  color: rgb(85, 80, 80);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 33%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 63%,
    rgba(255, 255, 255, 0.21332282913165268) 100%
  );
  border-radius: 5px;
  padding: 0px 10px;
  z-index: 2;
}
.contenedor_enviar {
  position: relative;
  display: flex;
  align-items: end;
}
#espera {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  bottom: 2px;
  color: white;
}
#espera_m {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  bottom: 2px;
  color: white;
}
.spinner-grow {
  --bs-spinner-width: 10px;
  --bs-spinner-height: 10px;
}
.spinner-grow:nth-child(1),
.spinner-grow:nth-child(3) {
  --bs-spinner-width: 8px;
  --bs-spinner-height: 8px;
}

// boton sumbit
.btn_enviar {
  width: 100%;
  padding: 4px 0;
  background: $a_celeste;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid $a_celeste;
  font-weight: bold;
  transition: 1s;
}
.btn_enviar:hover {
  color: $a_celeste;
  background: $background;
}

.btn_enviar:hover ~ div#espera {
  color: $a_celeste;
}
.btn_enviar:hover ~ div#espera_m {
  color: $a_celeste;
}
// btn enviar en invitacion
.btn_enviar_i {
  width: 100%;
  padding: 4px 0;
  background: $a_cuadro_r;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid $a_cuadro_r;
  font-weight: bold;
  transition: 1s;
}
.btn_enviar_i:hover {
  color: $a_cuadro_r;
  background: $background;
}

.btn_enviar_i:hover ~ div#espera {
  color: $a_cuadro_r;
}
.btn_enviar_i:hover ~ div#espera_m {
  color: $a_cuadro_r;
}
.btn_enviar_correcto {
  width: 100%;
  padding: 4px 0;
  background: rgb(7, 187, 7);
  border: 2px solid rgb(7, 187, 7);
  color: white;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: bold;
  transition: 1s;
}
.btn_enviar_correcto:hover {
  color: rgb(7, 187, 7);
  background: $background;
}
.group {
  position: relative;
}
.form-check-input {
  border: var(--bs-border-width) solid #2d6eaf;
}
/* label.label_form:after {
  content: "";
  display: inline-block;
  height: 2px; 
  width: 100%;
  background: rgb(199, 29, 29);
  position: relative;
  top: -30px;
  z-index: 1;
} */
